body{
    margin: 0;
    font-family: 'STIX Two Math', serif;
    background-color: rgb(246, 244, 244);
    width: fit-content;
    height: fit-content;
}
.display-flex{
    display: flex;
}
.text-heighlight{
    color: rgba(255, 166, 0, 0.829);
}
.anchor-button{
    background-image: linear-gradient(tomato, orange);
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 10px;
}

/* buttom desin css */

.button-div{
    background-color: blanchedalmond;
    width: 100%;
    margin-left: 3px;
    
}
button{
    background-image: linear-gradient(#3EB8FB, #EBF8FF);
    padding: 0  20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    height: 50px;
    margin-top: 15px;
}
.btton-design{
    width: 75%;
    margin-left: 8%;
    
}
.btton-design img{
    width: 60px;
}
.search-button{
    width: 30%;
    text-align: center;
    padding: 30px;
    margin-right: 20px;
    
}
/* buttom desin css */

/* header section css start */
.header-div{
    width: 50%;
    padding: 5%;
}
.header-div img{
    width: 95%;
}
.header-first-div{
    margin-left: 2%;
    padding-top: 13%;
}
.header-div h1{
    font-size: 50px;
}
.header-section{
    height: 600px;
}
/* header section css end */


/* mid section css start */
.mid-section{
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: fit-content;
}
.mid-div img{
    width:93%;
    padding-top: 50px;
}
.mid-div{
    width: 50%;
    padding: 10%;
}
.mid-div-text{
    margin-right: 100px;
    margin-top: 100px;
    font-weight: 400;
}
.mid-div-text h1{
    font-size: 40px;
    color: rgb(134, 132, 132);
}

/* mid section css end */

/* mid text section css start */
    .mid-text-div{
        text-align: center;
        margin-top: -60px;
        
    }
    .mid-text-div h1{
        font-size: 40px;
        color: rgb(134, 132, 132);
    }
/* mid text section css end */



/* mid image section css start */
.mid-image-div{
    width: 33.33%;
    margin: 20px;
    background-color: white;
    height: 490px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 10px 10px 5px grey;
}
.mid-image-div img{
    width: 85%;
    padding-top: 30px;
    
    
}

.mid-image-section{
    margin-left: 50px;
    margin-right: 50px;
   
}

/* mid image section css end */

 /* social trafic css start */
.social-trafic-div{
    width: 33%;
  
}
.social-trafic-div h1{
    font-size: 40px;
    margin-top: -7px;
}
.social-trafic-div p{
    margin-top: -25px;
}
.social-trafic-section{
    text-align: center;
    margin: 60px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgb(223, 216, 216);
    background-color: white;
    height: fit-content;
}
.social-trafic-div img{
    width: 10%;
    height: 20%;
    margin-top: 20px;
    border-radius: 10px;
}
  /* social trafic css end */

/* footer section css start */
  .footer-section{
    background-color: black;
    color: white;
    text-align: center;
    height: 200px;
  }

  /* footer section css end */